venv/
__pycache__/
*.pyc
.ruff_cache/
.env
.idea/
.vs/
.vscode/
.pytest_cache/
.coverage
htmlcov/
logs/
vector_db/
data/private/
data/file_meta.json
data/eval_report.json
data/users/
data/kg/
data/*.pdf
data/*.doc
data/*.docx
data/*.txt
data/*.md
data/*.xlsx
data/*.xls
data/*.json
!/data/eval_set.json
config/rag_config.json
config/llm_secret.key
config/llm_config.json
config/email_config.json
/launch.json
.vscode/*
!.vscode/
!.vscode/launch.json
!.vscode/settings.json
